{% extends 'base.html.twig' %}

{% block title %} Custom Title {% endblock %}

{% block main %} 

  <br/>
  <br/>    
  <h1>hello, {{name}} </h1>

  <div>  	 
  	 <p>My variable: {{ some_variable | default('No variable set')}}</p>
  	 <p>{{another_variable| default('No variable set_ 2')}}</p>
  </div>

{% endblock %}